@page
@model OdeToFood.Pages.CoffeeShops.ListModel



<h1>Cafes</h1>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="SearchTerm" />
            <button class="btn btn-primary">
                Search
            </button>
        </div>
    </div>
</form>


<a asp-page=".\Edit" class="btn btn-outline-success btn-block">Add new Cafe</a>

<hr />
<table class="table">

    <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Type</th>
        <th></th>
    </tr>
    @foreach (var cafe in @Model.Cafes)
    {
    <partial name="_Summary" model="cafe" />
    }
</table>


<br />


@*@section footer{
<div>
    @Model.Message
</div>
}*@
